.main-content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
  
  .intro-container {
    flex: 1;
    padding: 20px;
  }
  
  .rubiks-cube-container {
    width: 500px;
    height: 500px;
    margin-left: 20px; /* Add margin to create space between intro and cube */
  }
  